<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.FilterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.CheckInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCheckedInCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.FilterCheckedInCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindBookingServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.FindBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoaDonServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.HoaDonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInvoiceServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.SaveInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRoomCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.FindRoomCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingByCustomer</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.BookingByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingConfirmationServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.BookingConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueDetailServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.RevenueDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueTopDetailServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.RevenueTopDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagementServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.ServiceManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <url-pattern>/FilterCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/CheckInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCheckedInCustomerServlet</servlet-name>
        <url-pattern>/FilterCheckedInCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindBookingServlet</servlet-name>
        <url-pattern>/FindBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoaDonServlet</servlet-name>
        <url-pattern>/HoaDonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInvoiceServlet</servlet-name>
        <url-pattern>/SaveInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRoomCustomerServlet</servlet-name>
        <url-pattern>/FindRoomCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingByCustomer</servlet-name>
        <url-pattern>/BookingByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingConfirmationServlet</servlet-name>
        <url-pattern>/BookingConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/ServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueDetailServlet</servlet-name>
        <url-pattern>/RevenueDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueTopDetailServlet</servlet-name>
        <url-pattern>/RevenueTopDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManagementServlet</servlet-name>
        <url-pattern>/ServiceManagementServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
