<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.FilterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.CheckInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCheckedInCustomerServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.FilterCheckedInCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoaDonServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.HoaDonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.mycompany.laptrinhweb.controller.RoomServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <url-pattern>/FilterCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/CheckInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCheckedInCustomerServlet</servlet-name>
        <url-pattern>/FilterCheckedInCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoaDonServlet</servlet-name>
        <url-pattern>/HoaDonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>